/* CSS style for capsules.html page */

.lead {
	font-size: 1rem;
}

#money {
	margin: 0;
}

.main {
	background-image: url('/images/canada-flag.jpg');
	/* background-image: radial-gradient(circle, red 0%, white 100%); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main__wrapper {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5px;
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}

#infosheet-header,
#infosheet,
#lessons {
	background-color: #fff;
	height: auto;
	width: 100%;
}

#infosheet .col {
	margin: 0 auto;
}

#infosheet-header .col > h2 {
	border-bottom: 2px solid #f75056;
	font-size: 1.15rem;
	padding-bottom: 20px;
}

#lessons .col-12 > p {
	/* font-size: 0.85rem; */
	margin: 0 auto;
	max-width: 96%;
	text-indent: 1em;
}

.image-center {
	text-align: center;
}

#game-rules {
	color: #fff;
	font-size: 1rem;
}

#game-rules:hover {
	text-decoration: none;
}

.fa-file-pdf {
	color: #fff;
	display: inline;
}

#lessons .col-12 > p.lead {
	font-size: 1rem;
}

.badge-danger {
	color: #fff;
	background-color: #f00;
}

.badge {
	display: inline;
	font-size: 85%;
	padding: 0 0.6em;
}

#ballon {
	height: 100px;
	width: 100px;
}

.game-cards {
	height: 75px;
	width: 75px;
}

/* ********************************* */

@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (min-width: 576px) {
	.main__wrapper {
		padding: 0 10px;
	}

	#lessons .col-12 p.lead {
		font-size: 1.15rem;
	}

	#game-rules {
		font-size: 1.1rem;
	}

	#infosheet-header .col > h2 {
		font-size: 1.25rem;
		padding-left: 2rem;
	}

	#lessons .col-12 > p {
		/* font-size: 0.95rem; */
		text-indent: 2em;
	}

	.badge {
		font-size: 90%;
	}

	#ballon {
		height: 105px;
		width: 105px;
	}
}

@media (min-width: 768px) {
	.lead {
		font-size: 1.25rem;
	}

	.main__wrapper {
		padding: 0 15px;
	}

	#lessons .col-12 p.lead {
		font-size: 1.25rem;
	}

	#infosheet-header .col > h2 {
		font-size: 1.5rem;
	}

	#game-rules {
		font-size: 1.15rem;
	}

	.badge {
		font-size: 95%;
	}

	#ballon {
		height: 115px;
		width: 115px;
	}
}

@media (min-width: 992px) {
	.main__wrapper {
		padding: 0 20px;
	}

	.badge {
		font-size: 100%;
	}

	#ballon {
		height: 125px;
		width: 125px;
	}
}
