/* CSS style for capsules.html page */

.lead {
	font-size: 1rem;
}

#capsules,
#lessons {
	background-color: #fff;
	height: auto;
}

#capsules .col-12 {
	margin: 0 auto;
}

#capsules .col-12 > h2 {
	border-bottom: 2px solid #f75056;
	font-size: 1.15rem;
	padding-bottom: 20px;
}

#lessons .col-12 > p {
	font-size: 0.85rem;
	margin: 0 auto;
	max-width: 96%;
	text-indent: 1em;
}

.image-center {
	text-align: center;
}

#lois_de_jeu_link {
	color: #828282;
}

.fa-file-pdf {
	color: #f00;
	display: inline;
}

#lessons .col-12 > p.lead {
	font-size: 1rem;
}

.badge-danger {
	color: #fff;
	background-color: #f00;
}

.badge {
	display: inline;
	font-size: 85%;
	padding: 0 0.6em;
}

#ballon {
	height: 100px;
	width: 100px;
}

.game-cards {
	height: 75px;
	width: 75px;
}

@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (min-width: 576px) {
	#lessons .col-12 p.lead {
		font-size: 1.15rem;
	}

	#lois_de_jeu_link {
		font-size: 1.1rem;
	}

	#capsules .col-12 > h2 {
		font-size: 1.25rem;
		padding-left: 2rem;
	}

	#lessons .col-12 > p {
		font-size: 0.95rem;
		text-indent: 2em;
	}

	.badge {
		font-size: 90%;
	}

	#ballon {
		height: 105px;
		width: 105px;
	}
}

@media (min-width: 768px) {
	#lessons .col-12 p.lead {
		font-size: 1.25rem;
	}

	#capsules .col-12 > h2 {
		font-size: 1.5rem;
	}

	#lois_de_jeu_link {
		font-size: 1.15rem;
	}

	#lessons .col-12 > p {
		font-size: 1rem;
	}

	.badge {
		font-size: 95%;
	}

	#ballon {
		height: 115px;
		width: 115px;
	}
}

@media (min-width: 992px) {
	.badge {
		font-size: 100%;
	}

	#ballon {
		height: 125px;
		width: 125px;
	}
}
