.card-guinea {
  position: relative;
  height: 500px;
}
.card-guinea__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.25);
}
.card-guinea__side--face {
  -webkit-background-image: linear-gradient(175deg, transparent, transparent 55%, #bce9f5, #bce9f5 80%, transparent 95%, transparent 100%);
  background-image: linear-gradient(175deg, transparent, transparent 55%, #bce9f5, #bce9f5 80%, transparent 95%, transparent 100%);
}
.card-guinea__picture {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  top: 10px;
}
@media (min-width: 576px) {
  .card-guinea__picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
  }
}
.card-guinea__picture--1 {
  -webkit-background-image: linear-gradient(to top, transparent, transparent 50%, #66cce6 80%, transparent 100%), url(../images/guinea-map1.png);
  background-image: linear-gradient(to top, transparent, transparent 50%, #66cce6 80%, transparent 100%), url(../images/guinea-map1.png);
}
.card-guinea__heading {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.95), rgba(255, 0, 0, 0.95) 33%, rgba(255, 218, 90, 0.95) 50%, rgba(255, 218, 90, 0.95), rgba(52, 163, 61, 0.95) 66%, rgba(52, 163, 61, 0.95) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: transparent;
  position: absolute;
  top: 8.5rem;
  left: 0.5rem;
  width: 59%;
  transform: rotate(-3deg) skewX(15deg);
}
@media (min-width: 576px) {
  .card-guinea__heading {
    letter-spacing: 0.1rem;
    top: 11.5rem;
  }
}
.card-guinea__heading-span {
  padding: 0.5rem 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-guinea__date {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0.55) 25%, rgba(255, 0, 0, 0.95) 75%, rgba(255, 0, 0, 0.55) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: transparent;
  position: absolute;
  top: 12.5rem;
  left: 0rem;
  width: 100%;
  transform: rotate(-3deg) skewX(15deg);
}
@media (min-width: 576px) {
  .card-guinea__date {
    font-size: 0.9rem;
    left: -3rem;
    letter-spacing: 0.1rem;
    top: 14.5rem;
  }
}
@media (min-width: 992px) {
  .card-guinea__date {
    left: -2.5rem;
  }
}
.card-guinea__date-span {
  padding: 0.5rem 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-guinea__countries {
  position: absolute;
  left: 0;
  top: 55%;
  width: 100%;
  color: rgba(255, 0, 0, 0.7);
}
.card-guinea__countries p {
  padding: 0.3rem 0;
  width: 75%;
  margin: 0 auto;
}
.card-guinea__countries p:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

/*# sourceMappingURL=card.css.map */
