/* CSS style for competitions.html page */

.lead {
	font-size: 1rem;
}

#competitions {
	background-color: #fff;
	height: auto;
}

#competitions .col {
	margin: 0 auto;
	max-width: 100%;
}

#competitions .col > h2 {
	border-bottom: 2px solid #f75056;
	font-size: 1.15rem;
	padding-bottom: 20px;
}

#competitions .col > p {
	font-size: 0.85rem;
	margin: 0 auto;
	max-width: 96%;
	text-indent: 2em;
}

#competitions .col > p.lead {
	color: #f00;
	font-size: 1.1rem;
}

#championnat {
	background-color: rgb(243, 243, 243);
	height: auto;
}

#championnat-header {
	background-color: rgb(243, 243, 243);
	height: auto;
}

#championnat-header .col {
	margin: 0 auto;
}

#championnat-header .col > h2 {
	border-bottom: 2px solid #f75056;
	font-size: 1.15rem;
	padding-bottom: 1.25rem;
}

.championnat-card-text {
	font-size: 0.9rem;
	margin: 0 auto;
	max-width: 100%;
}

.championnat-text {
	font-size: 0.9rem;
	margin: 0 auto;
	max-width: 90%;
	text-indent: 2em;
}

.championnat-stats {
	font-size: 0.9rem;
}

.championnat-teams {
	font-size: 0.9rem;
}

.teams-card {
	background-color: transparent;
	border: none;
}

.teams-card .card-footer {
	background-color: transparent;
	border: none;
}

.results {
	padding-left: 1.5rem !important;
}

.table td,
.table th {
	padding: 0.25rem;
}

.table-text {
	font-size: 0.9rem;
}

caption {
	caption-side: top;
}

.pl-3 {
	padding-left: 0 !important;
}

/* Media */
@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (min-width: 576px) {
	.lead {
		font-size: 1.15rem;
	}

	#competitions .col > h2 {
		font-size: 1.25rem;
		padding-left: 2rem;
	}

	#competitions .col > p {
		font-size: 1rem;
	}

	#competitions .col > p.lead {
		font-size: 1.15rem;
	}

	#championnat-header .col > h2 {
		font-size: 1.25rem;
		padding-left: 2rem;
	}

	.championnat-card-text {
		font-size: 0.95rem;
	}

	.championnat-text {
		font-size: 0.95rem;
	}

	.championnat-stats {
		font-size: 0.95rem;
	}

	.championnat-teams {
		font-size: 0.95rem;
	}

	.results {
		padding-left: 2rem !important;
	}

	.table-text {
		font-size: 0.95rem;
	}

	.pl-3 {
		padding-left: 1rem !important;
	}
}

@media (min-width: 768px) {
	.lead {
		font-size: 1.25rem;
	}

	#competitions .col > h2 {
		font-size: 1.5rem;
	}

	#competitions .col > p.lead {
		font-size: 1.25rem;
	}

	#championnat-header .col > h2 {
		font-size: 1.5rem;
	}

	.championnat-card-text {
		font-size: 1rem;
	}

	.championnat-text {
		font-size: 1rem;
	}

	.championnat-stats {
		font-size: 1rem;
	}

	.championnat-teams {
		font-size: 1rem;
	}

	.results {
		padding-left: 3rem !important;
	}

	.table td,
	.table th {
		padding: 0.5rem;
	}

	.table-text {
		font-size: 1rem;
	}
}

@media (min-width: 992px) {
	.table td,
	.table th {
		padding: 0.75rem;
	}
}

@media (min-width: 1200px) {
	.results {
		padding-left: 4rem !important;
	}
}
