/* CSS style for conseiladmin.html page */

.lead {
	font-size: 1rem;
}

#conseil {
	background-color: #fff;
	height: auto;
}

#conseil .col-12 {
	margin: 0 auto;
}

#conseil .col-12 > h2 {
	border-bottom: 2px solid #f75056;
	font-size: 1.15rem;
	padding-bottom: 20px;
	text-align: center;
}

#conseil .col-12 > p {
	font-size: 0.85rem;
	margin: 0 auto;
	max-width: 96%;
	text-indent: 2em;
}

.lead {
	margin-bottom: 0.2rem;
}

.card {
	border: none;
}

.card-header {
	text-align: center;
}

.card-body > p {
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}

#president {
	background-color: rgba(255, 0, 0, 0.7);
	height: 200px;
	padding: 0.15rem;
	width: 157px;
}

.membres {
	background-color: rgba(255, 0, 0, 0.7);
	height: 150px;
	padding: 0.15rem;
	width: 147px;
}

#comissions_link {
	color: #828282;
}

.fa-file-pdf {
	color: #f00;
	display: inline;
}

@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (min-width: 576px) {
	.lead {
		font-size: 1.25rem;
	}

	#conseil .col-12 > h2 {
		font-size: 1.25rem;
	}

	#federation .col-12 > h2 {
		font-size: 1.25rem;
		padding-left: 2rem;
	}

	#conseil .col-12 > p {
		font-size: 0.95rem;
	}

	.card-body > p:last-child {
		font-size: 1.15rem;
	}

	#president {
		height: 225px;
		width: 177px;
	}

	.membres {
		height: 175px;
		width: 172px;
	}

	#comissions_link {
		font-size: 1.1rem;
	}
}

@media (min-width: 768px) {
	#conseil .col-12 > h2 {
		font-size: 1.5rem;
	}

	#conseil .col-12 > p {
		font-size: 1rem;
	}

	#president {
		height: 250px;
		width: 197px;
	}

	.membres {
		height: 200px;
		width: 197px;
	}

	#comissions_link {
		font-size: 1.15rem;
	}
}
