/* CSS style for header, navigation and footer */

html {
	font-size: 16px;
}

body {
	background-color: #fff;
	color: #5a5a5a;
	font-family: 'Kanit', sans-serif;
	overflow-x: hidden;
}

#logo-img {
	float: left;
	max-height: 79px;
	margin: 0;
}

#menu-logo-img {
	float: right;
	max-height: 79px;
	margin: 0;
}

#message-official-site {
	font-size: 0.95rem;
	text-align: center;
	width: 100%;
}

.myNavbarStyle {
	background-color: #f00;
	width: 100%;
}

.navbar-container {
	padding: 0;
	width: 100%;
}

.navbar > .container,
.navbar > .container-fluid {
	justify-content: left;
}

.navbar-nav .nav-link {
	padding-left: 15px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-family: 'Marcellus SC', serif;
	font-size: 1rem;
	font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover {
	background-color: #fff;
	box-sizing: border-box;
	color: #f00;
	margin-bottom: 0px;
}

.navbar-dark .navbar-toggler {
	border: 2px solid #fff;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#footer {
	background-color: #3b3b3b;
	color: rgba(255, 255, 255, 0.8);
}

#copyright {
	font-size: 0.6rem;
	color: rgba(255, 255, 255, 0.3);
}

#owner {
	color: rgba(255, 255, 255, 0.1);
}

.scroll-top {
	bottom: 6.875rem;
	display: inline-block;
	height: 1.875rem;
	position: fixed;
	right: 0.75rem;
	width: 1.375rem;
}

.scroll-top i {
	color: #f00;
}

#fb-media {
	bottom: 10rem;
	position: fixed;
	right: 1.4rem;
}

/* Media */
@media (max-width: 575px) {
	.menu-container {
		background-color: red;
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-dark ul {
		margin-top: 0.8rem;
	}

	.navbar-nav li a {
		border-radius: 0.5rem;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (min-width: 576px) {
	#logo-img {
		max-height: 125px;
	}

	#menu-logo-img {
		max-height: 125px;
	}

	.navbar-dark .navbar-nav .nav-link {
		color: #fff;
		font-size: 0.75rem;
	}

	.myNavbarStyle {
		max-height: 34px;
	}

	#message-official-site {
		font-size: 1.05rem;
	}

	#fb-media {
		right: 1rem;
	}
}

@media (min-width: 768px) {
	#logo-img {
		max-height: 150px;
	}

	#menu-logo-img {
		max-height: 150px;
	}

	.navbar-dark .navbar-nav .nav-link {
		font-size: 0.85rem;
	}

	#message-official-site {
		font-size: 1.15rem;
	}

	#copyright {
		font-size: 0.7rem;
	}

	.scroll-top {
		right: 1.5625rem;
	}

	#fb-media {
		right: 1.75rem;
	}
}

@media (min-width: 992px) {
	#logo-img {
		max-height: 200px;
	}

	#menu-logo-img {
		max-height: 200px;
	}

	.navbar-dark .navbar-nav .nav-link {
		font-size: 1.2rem;
	}

	.myNavbarStyle {
		max-height: 38px;
	}

	#message-official-site {
		font-size: 1.25rem;
	}

	#copyright {
		font-size: 0.8rem;
	}
}

@media (min-width: 1200px) {
}
