$min-viewport-width: 320;
$max-viewport-width: 1600;

$default-size: 1rem;
$indent: $default-size;
$h2-padding-bottom: $default-size * 1.25;
$h2-padding-left: $default-size * 2;
$logo-size: 79px;

$font-sizes: (
	lead: $default-size,
	header2: $default-size,
	p-last-child: $default-size
);

$colors: (
	initial-font: #5a5a5a,
	main: #f00,
	secondary: #fff,
	news: #f1f1f1,
	bottom-border: #f75056,
	admin: rgba(255, 0, 0, 0.7),
	championnat: rgb(243, 243, 243),
	breadcrumb: rgba(255, 255, 255, 0.8),
	black: #000
);

$header-bottom-border: 2px solid map-get($colors, bottom-border);
$nav-border: 1px solid map-get($colors, secondary);

@mixin wrapper-dimensions {
	height: auto;
	width: 100%;
}

@mixin section-headers {
	border-bottom: $header-bottom-border;
	font-size: map-get($font-sizes, header2) + 0.15rem;
	padding-bottom: $h2-padding-bottom;
}
