/* SCSS style for competitions.html page */
#competitions,
#teams {
  background-color: #fff;
  height: auto;
  width: 100%;
}

.headers, #competitions .col-12 > h2, #championnat-header .col > h2,
.championnat-header .col > h2 {
  border-bottom: 2px solid #f75056;
  font-size: 1.15rem;
  padding-bottom: 1.25rem;
}

#competitions .col-12 {
  margin: 0 auto;
  max-width: 100%;
}

#competitions .col-12 > p {
  font-size: 0.85rem;
  margin: 0 auto;
  max-width: 96%;
  text-indent: 1rem;
}

#competitions .col-12 > p.lead {
  color: #f00;
  font-size: 1.1rem;
  text-indent: 2.5rem;
}

#championnat-header,
.championnat-header {
  background-color: #fff;
  height: auto;
  width: 100%;
}

#championnat-header .col,
.championnat-header .col {
  margin: 0 auto;
}

#championnat,
.championnat {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
  background-image: linear-gradient(to bottom, #fff, #f3f3f3);
  height: auto;
  width: 100%;
}

.card-img-top {
  max-height: 460px;
}

.card__text {
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 100%;
}

.championnat__text {
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 90%;
  text-indent: 1rem;
}

.results__stats {
  font-size: 0.9rem;
  text-indent: 0.5rem;
}

.card__title {
  font-size: 0.9rem;
}

.card__teams {
  background-color: transparent;
  border: none;
}

.results {
  padding-left: 1.5rem !important;
}

.table td,
.table th {
  padding: 0.25rem;
}

.table-text {
  font-size: 0.9rem;
}

caption {
  caption-side: top;
}

.pl-3 {
  padding-left: 0 !important;
}

/* ******************************** */
/* Media */
@media (max-width: 575px) {
  .text-xs-center {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .lead {
    font-size: 1.15rem;
  }
  .main__wrapper {
    padding: 0 10px;
  }
  #competitions .col-12 > h2 {
    font-size: 1.25rem;
    padding-left: 2rem;
  }
  #competitions .col-12 > p {
    font-size: 1rem;
    text-indent: 1.5rem;
  }
  #competitions .col-12 > p.lead {
    font-size: 1.15rem;
  }
  #championnat-header .col > h2,
  .championnat-header .col > h2 {
    font-size: 1.25rem;
    padding-left: 2rem;
  }
  .card__text {
    font-size: 0.95rem;
  }
  .championnat__text {
    font-size: 0.95rem;
    text-indent: 1.5rem;
  }
  .results__stats {
    font-size: 0.95rem;
  }
  .card__title {
    font-size: 0.95rem;
  }
  .results {
    padding-left: 2rem !important;
  }
  .table-text {
    font-size: 0.95rem;
  }
  .pl-3 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 768px) {
  .lead {
    font-size: 1.25rem;
  }
  .main__wrapper {
    padding: 0 15px;
  }
  #competitions .col-12 > h2 {
    font-size: 1.5rem;
  }
  #competitions .col-12 > p.lead {
    font-size: 1.25rem;
  }
  #championnat-header .col > h2,
  .championnat-header .col > h2 {
    font-size: 1.5rem;
  }
  .card__text {
    font-size: 1rem;
  }
  .championnat__text {
    font-size: 1rem;
  }
  .results__stats {
    font-size: 1rem;
  }
  .card__title {
    font-size: 1rem;
  }
  .results {
    padding-left: 3rem !important;
  }
  .table td,
  .table th {
    padding: 0.5rem;
  }
  .table-text {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .main__wrapper {
    padding: 0 1.25rem;
  }
  .table td,
  .table th {
    padding: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .results {
    padding-left: 4rem !important;
  }
}
/*# sourceMappingURL=competitions_style.css.map */