/* SCSS style for contact.html page */

@import '_variables.scss';

#contact-header {
	background-color: map-get($colors, secondary);
	@include wrapper-dimensions;

	.col {
		margin: 0 auto;
	}

	.col > h2 {
		@include section-headers;
	}
}

#contact {
	background-color: map-get($colors, secondary);
	@include wrapper-dimensions;

	.col-12 {
		padding-right: $default-size / 4;
		padding-left: $default-size / 4;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

.contact__info {
	font-size: $default-size - 0.1rem;
}

.fa-map-marker-alt,
.fa-envelope,
#fb-media {
	color: map-get($colors, main);
}

.form {
	&__input:focus,
	&__input:hover {
		border-color: map-get($colors, main);
		box-shadow: 0 0.8em 1rem rgba(map-get($colors, black), 0.1);
	}
}

.btn {
	&,
	&:active,
	&:visited {
		background-color: map-get($colors, secondary);
		border: 1px solid map-get($colors, main);
		border-radius: 0.25rem;
		color: map-get($colors, main);
		display: block;
		float: right;
		margin-bottom: 1rem;
		width: 10rem;

		transition: all 0.2s;
	}

	&:focus,
	&:hover {
		background-color: map-get($colors, main);
		box-shadow: 0.1rem 1em 1rem rgba(map-get($colors, black), 0.3);
		color: map-get($colors, secondary);
		transform: translateY(-2px) scale(1.05);
	}
}

/* ******************************** */

/* Media */
@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (min-width: 576px) {
	.lead {
		font-size: $default-size + 0.25rem;
	}

	.main__wrapper {
		padding: 0 10px;
	}

	/* to justify the text */
	#contact-header {
		.col > h2 {
			font-size: $default-size + 0.25rem;
			padding-left: $h2-padding-left;
		}
	}

	#contact {
		.col-12 {
			margin: 0 auto;
			max-width: 90%;
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.contact__info {
		font-size: $default-size - 0.05rem;
	}
}

@media (min-width: 768px) {
	.main__wrapper {
		padding: 0 15px;
	}

	#contact-header {
		.col > h2 {
			font-size: $default-size + 0.5rem;
		}
	}

	#contact {
		.col-12 {
			max-width: 80%;
		}
	}

	.contact__info {
		font-size: $default-size;
	}
}

@media (min-width: 992px) {
	.main__wrapper {
		padding: 0 $default-size + 0.25rem;
	}

	#contact {
		.col-12 {
			max-width: 70%;
		}
	}
}

@media (min-width: 1200px) {
}
