/* SCSS style for commun style, header, navigation and footer */

@import '_variables.scss';

html {
	box-sizing: border-box;
	font-size: 100%;
}

body {
	background-color: map-get($colors, secondary); /* For browsers that do not support gradients */
	color: map-get($colors, initial-font);
	font: {
		family: 'Kanit', sans-serif;
		size: calc(13px + (18 - 13) * ((100vw - 320px) / (#{$max-viewport-width} - #{$min-viewport-width})));
	}
	overflow-x: hidden;
}

.lead {
	font-size: map-get($font-sizes, lead);
}

ul {
	margin: 0;
	padding: 0;
}

.section-header--hidden {
	display: none;
}

#header-section {
	background-color: map-get($colors, secondary);
}

#logo-img {
	float: left;
	max-height: $logo-size;
	margin: 0;
}

#menu-logo-img {
	float: right;
	max-height: $logo-size;
	margin: 0;
}

#message-official-site {
	text-align: center;
	width: 100%;
}

#money {
	margin: 0;
}

.navigation {
	background-color: map-get($colors, main);
	border-bottom: $nav-border;
	width: 90%;
}

.navbar__container {
	padding: 0;
	width: 100%;
}

.navbar > .container,
.navbar > .container-fluid {
	justify-content: left;
}

.navbar-nav .nav-link {
	padding-left: 15px;
}

// .navbar-dark .navbar-nav .show > .nav-link {
// 	color: map-get($colors, main);
// }

.navbar-dark .navbar-nav .nav-link {
	color: map-get($colors, secondary);
	font-family: 'Marcellus SC', serif;
	font-weight: 400;

	&:hover {
		background-color: map-get($colors, secondary);
		color: map-get($colors, main);
		margin-bottom: 0;
	}
}

.navbar-dark {
	.navbar-toggler {
		border: 2px solid map-get($colors, secondary);
	}
}

.navbar-dark {
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}

.dropdown-content {
	background-color: map-get($colors, secondary);
	display: none;
}

.dropdown-content__submenu {
	.dropdown-content__submenu-link {
		padding: 5px 0 5px 25px;
	}
}

.dropdown-content__submenu {
	.dropdown-content {
		display: block;
		padding: 5px 0 5px 25px;
	}
}

.dropdown-content a {
	color: map-get($colors, main);
	font-family: 'Marcellus SC', serif;
	display: block;
	padding: 5px 0 5px 15px;
	text: {
		align: left;
		decoration: none;
	}

	&:hover {
		background-color: map-get($colors, news);
	}
}

.dropdown {
	&:hover > .nav-link--active {
		background-color: map-get($colors, secondary);
		color: map-get($colors, main);
	}

	&-divider {
		border-top: 1px solid map-get($colors, main);
		margin: 0 auto;
		width: 90%;
	}
}

#page-nav {
	background-color: map-get($colors, main);
	border-top: none;
	height: auto;
	padding: 0.5rem 0;
	width: calc(100% + 10px);
}

.page-nav__list {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin-bottom: 0;
}

.page-nav__item {
	color: map-get($colors, secondary);
	font-family: 'Marcellus SC', serif;
	text-decoration: none;

	&:hover {
		color: #ffe2e2;
		text-decoration: none;
	}
}

.main {
	background: {
		image: url('/images/canada-flag.jpg');
		position: center;
		repeat: no-repeat;
		size: cover;
	}
}

.main__wrapper {
	align-items: center;
	background-color: map-get($colors, secondary);
	display: flex;
	flex: {
		direction: column;
	}
	justify-content: center;
	padding: 0 5px;
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}

#footer {
	background-color: #3b3b3b;
	color: rgba(255, 255, 255, 0.8);
	max-width: 960px;
	width: calc(100% + 10px);
}

#copyright {
	font-size: $default-size - 0.4rem;
	color: rgba(255, 255, 255, 0.5);
}

#created_by {
	color: rgba(255, 255, 255, 0.3);
}

#created_by a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}

.scroll-top {
	bottom: 6.875rem;
	display: inline-block;
	height: 1.875rem;
	position: fixed;
	right: 0.75rem;
	width: 1.375rem;
	z-index: 5;
}

.scroll-top {
	i {
		color: map-get($colors, main);
	}
}

#language {
	background-color: transparent;
	height: $default-size + 0.5rem;
	line-height: $default-size + 0.3rem;
	position: absolute;
	right: $default-size;
	top: $default-size;
}

#languageSwitcher {
	color: map-get($colors, secondary);
	cursor: pointer;
	font-size: $default-size;
	text-decoration: none;
	width: $default-size + 0.6rem;
}

.btn-danger {
	background-color: map-get($colors, main);
	border: 1px solid map-get($colors, main);
}

/* *************************************** */

/* Media */
@media (max-width: 575px) {
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (min-width: 576px) {
	#logo-img {
		max-height: $logo-size + 46px;
	}

	#menu-logo-img {
		max-height: $logo-size + 46px;
	}

	#page-nav {
		width: calc(100% + 20px);
	}

	#language {
		background-color: map-get($colors, main);
		border-radius: 5px;
		max-height: $default-size + 0.4rem;
		width: $default-size + 0.4rem;
	}

	#languageSwitcher {
		color: map-get($colors, secondary);
	}

	#footer {
		width: calc(100% + 20px);
	}
}

@media (min-width: 768px) {
	#logo-img {
		max-height: $logo-size + 71px;
	}

	#menu-logo-img {
		max-height: $logo-size + 71px;
	}

	.navbar-expand-md {
		.navbar-nav {
			z-index: 10;
		}
	}

	.dropdown-content {
		outline: 1px solid map-get($colors, main);
	}

	.dropdown-content__submenu {
		.dropdown-content a {
			padding: 5px 0;
		}
	}

	.dropdown-content {
		.navbar-nav {
			flex-direction: column;
		}
	}

	.dropdown-content {
		.dropdown-content__submenu-item {
			position: relative;
			text-align: center;
		}
	}

	.dropdown-content__submenu {
		.dropdown-content {
			position: relative;
			display: none;
			padding: 5px 0;
		}
	}

	.dropdown-content__submenu:hover .dropdown-content__submenu-championship--position {
		position: absolute;
		display: block;
		top: 14%;
		left: 90%;
	}

	.dropdown-content__submenu:hover {
		.dropdown-content__submenu-cup--position {
			position: absolute;
			display: block;
			top: 27%;
			left: 90%;
		}
	}

	.navigation {
		border-bottom: none;
		max-height: 37px;
		width: 100%;
	}

	#page-nav {
		width: calc(100% + 30px);
		border-top: $nav-border;
	}

	.dropdown-content {
		background-color: map-get($colors, secondary);
		display: none;
		position: absolute;
		left: 0;
		top: 38px;
		right: 0%;
		width: 300%;
		max-width: 200px;
	}

	.dropdown:hover > {
		.dropdown-content {
			display: block;
			z-index: 10;
		}
	}

	#language {
		top: 0.4rem;
	}

	#footer {
		width: calc(100% + 30px);
	}
}

@media (min-width: 992px) {
	#logo-img {
		max-height: $logo-size + 121px;
	}

	#menu-logo-img {
		max-height: $logo-size + 121px;
	}

	.navigation {
		max-height: 39px;
	}

	.dropdown-content {
		top: 40px;
	}

	#page-nav {
		width: calc(100% + 40px);
	}

	#language {
		top: $default-size / 2;
	}

	#footer {
		width: calc(100% + 40px);
	}
}

@media (min-width: 1200px) {
	.navigation {
		max-height: 41px;
	}

	.dropdown-content {
		top: 41px;
	}
}

@media (min-width: 1500px) {
	.dropdown-content {
		top: 43px;
	}
}

::selection {
	background-color: map-get($colors, main);
	color: map-get($colors, secondary);
}
