/* SCSS style for index.html page */

@import '_variables.scss';

p {
	margin: {
		top: 0;
		bottom: 0;
	}
}

#presentation {
	background-color: map-get($colors, secondary);
	@include wrapper-dimensions;

	.col {
		margin: 0 auto;
		max-width: 100%;
	}

	.col > h2 {
		@extend .headers;
	}

	.col > p {
		margin: 0 auto;
		max-width: 96%;
		text-indent: $indent;
	}

	.col > p:last-child {
		font-size: map-get($font-sizes, p-last-child);
	}
}

#game-rules-link {
	color: #828282;
}

.fa-file-pdf {
	color: map-get($colors, main);
	display: inline;
}

#news {
	background: {
		image: url('/images/canada-flag_1.jpg');
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	width: calc(100% + 10px);
}

.news__container {
	display: flex;
	flex: {
		direction: column;
	}

	// &-box {
	// 	width: 400px;
	// }
}

.news__title,
.news__sub,
.news__subtitle {
	color: map-get($colors, news);
	margin: 0 auto;
	text-shadow: 0px -3px 3px #000;
}

.news__title {
	align-self: center;
	font: {
		family: 'IM Fell English SC', serif;
		size: 1.1rem;
		weight: 900;
	}
	// text-transform: uppercase;
	text-shadow: 0px -3px 3px #000;
}

.news__sub {
	align-self: center;
	font: {
		family: 'IM Fell Double Pica SC', serif;
		weight: 900;
	}
	text-shadow: 0px -3px 3px #000;
}

.news__subtitle {
	font-family: 'IM Fell Double Pica SC', serif;
	width: 80%;
}

.news__image {
	border-radius: 5px;
	max-width: 230px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#info-header,
#agenda-header,
#actualities-header {
	@include wrapper-dimensions;
}

.info-header__message--red {
	color: map-get($colors, main);
}

.headers {
	@include section-headers;
}

#agenda-header,
#actualities-header {
	.col {
		margin: 0 auto;
	}

	.col > h2 {
		@extend .headers;
	}
}

#galery,
#actualities {
	@include wrapper-dimensions;
}

.carousel {
	margin: 0 auto;
}

.card__link {
	overflow: hidden;
}

.card-img-top {
	width: 100%;
}

#agenda {
	align-items: center;
	// background-color: #f3f3f3;
	background-color: map-get($colors, secondary);
	display: flex;
	flex: {
		direction: column;
	}
	justify-content: center;
	width: 100%;
}

#tournoi-img {
	height: auto;
	width: 250px;

	transition: ease 0.5s;

	&:hover,
	&:focus {
		transform: scale(1.05);
		transition: ease 0.5s;
	}
}

.card__container {
	width: 250px;
}

.bg-custom {
	background-color: map-get($colors, main);
}

.card__countries {
	margin-bottom: 0;
}

.card__title {
	background: rgba(0, 0, 0, 0.9);
	bottom: 0;
	color: map-get($colors, news);
	padding: $default-size + 0.25rem;
	position: absolute;
	text-align: center;
	width: 100%;
}

#delegation-img {
	height: auto;
	opacity: 0;
	width: 500px;
}

.carousel-control-next,
.carousel-control-prev {
	height: 100%;
	opacity: 1;
	width: 10%;

	&:hover {
		background: #000;
		opacity: 0.3;
	}
}

.carousel-indicators {
	bottom: 15%;

	li {
		display: inline-block;
		width: 15px;
		height: 5px;
		cursor: pointer;
		border-radius: 25%;
		background-color: map-get($colors, secondary);
	}

	.active {
		width: 15px;
		height: 5px;
		margin: 10px;
		background-color: map-get($colors, main);
	}
}

.actualities {
	@include wrapper-dimensions;
	padding: 0 15px;

	h5 {
		color: map-get($colors, main);
		text-align: center;
	}
}

.actualities__article {
	align-items: center;
	display: flex;
	flex: {
		direction: column;
	}
	justify-content: center;
}

.actualities__img {
	background-color: map-get($colors, main);
	flex-shrink: 0;
	height: 120px;
	padding: 0.15rem;
	width: 165px;
}

.actualities__text {
	text-indent: $indent;
}

#partners {
	background-color: #3b3b3b;
	width: calc(100% + 10px);
}

.partners {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 160px;
	margin: auto;
	overflow: hidden;
	position: relative;
	max-width: 700px;
	width: 90%;

	&::before,
	&::after {
		background: linear-gradient(to right, rgba(59, 59, 59, 1) 0%, rgba(59, 59, 59, 0) 100%);
		content: '';
		height: 160px;
		position: absolute;
		width: 50px;
		z-index: 2;
	}
}

.partners {
	&::after {
		right: 0;
		top: 0;

		transform: rotateZ(180deg);
	}
}

.partners {
	&::before {
		left: 0;
		top: 0;
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1250px);
	}
}

.partners__slider {
	animation: scroll 60s linear infinite;
	display: flex;
	width: 3000px;
}

.partners__slide {
	height: $default-size * 10;
	padding: 0 15px;
}

.partners__title--color {
	color: rgba(255, 255, 255, 0.8);
}

.partners__images {
	max-height: $default-size * 10;
}

/* *************************************** */

/* Media */
@media (max-width: 575px) {
	.text-xs-center {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.media {
		flex: {
			direction: column;
		}
		text-align: center;
	}
}

@media (min-width: 576px) {
	.headers-over576px {
		font-size: map-get($font-sizes, header2) + 0.25rem;
		padding-left: $h2-padding-left;
	}

	.lead {
		font-size: map-get($font-sizes, lead) + 0.15rem;
	}

	.main__wrapper {
		padding: 0 10px;
	}

	#news {
		width: calc(100% + 20px);
	}

	.news__title {
		font: {
			size: 1.5rem;
		}
	}

	#presentation {
		.col > h2 {
			@extend .headers-over576px;
		}

		.col > p {
			text-indent: $indent * 1.5;
		}

		.col > p:last-child {
			font-size: map-get($font-sizes, p-last-child) + 0.1rem;
		}
	}

	#agenda-header,
	#actualities-header {
		.col > h2 {
			@extend .headers-over576px;
		}
	}

	#tournoi-img {
		&:hover {
			transform: scale(1.05);
			transition: ease 0.5s;
		}
	}

	.card__container {
		width: 350px;
	}

	.carousel-indicators {
		bottom: 17%;

		li {
			width: 1.25rem;
		}

		.active {
			width: 1.25rem;
		}
	}

	.carousel-control-next,
	.carousel-control-prev {
		bottom: 25%;
	}

	#partners {
		width: calc(100% + 20px);
	}
}

@media (min-width: 768px) {
	.headers-over768px {
		font-size: map-get($font-sizes, header2) + 0.5rem;
	}

	.lead {
		font-size: map-get($font-sizes, lead) + 0.25rem;
	}

	.main__wrapper {
		padding: 0 15px;
	}

	#news {
		width: calc(100% + 30px);
	}

	.news__title {
		font: {
			size: 2rem;
		}
	}

	.news__subtitle {
		width: 70%;
	}

	#presentation {
		.col > h2 {
			@extend .headers-over768px;
			padding-left: $h2-padding-left;
		}

		.col > p:last-child {
			font-size: map-get($font-sizes, p-last-child) + 0.15rem;
		}
	}

	.news__image {
		max-width: 300px;
	}

	.card__countries {
		font-size: $default-size;
	}

	#agenda-header,
	#actualities-header {
		.col > h2 {
			@extend .headers-over768px;
		}
	}

	#tournoi-img {
		width: 300px;

		transition: ease 0.5s;

		&:hover {
			transform: scale(1.05);
			transition: ease 0.5s;
		}
	}

	.actualities__article {
		flex: {
			direction: row;
		}
	}

	.actualities__text {
		font-size: $default-size;
	}

	.carousel-indicators {
		bottom: 14%;
	}

	#partners {
		width: calc(100% + 30px);
	}
}

@media (min-width: 992px) {
	.main__wrapper {
		padding: 0 $default-size + 0.25rem;
	}

	#news {
		width: calc(100% + 40px);
	}

	.news__container {
		display: flex;
		flex: {
			direction: row;
		}
	}

	.news__title,
	.news__sub {
		transform: rotateX(-30deg) rotateY(35deg);
		text-shadow: -5px -5px 7px #000;
	}

	#agenda {
		flex: {
			direction: row;
		}
	}

	#tournoi-img {
		width: 350px;
		transition: ease 0.5s;

		&:hover {
			transform: scale(1.05);
			transition: ease 0.5s;
		}
	}

	#partners {
		width: calc(100% + 40px);
	}
}

@media (min-width: 1200px) {
}
